.course-content ul.medschool_topics {
    margin: 0;
    list-style: none;
    
}

/*
.course-content ul.medschool_topics li.section .content {
    margin: 0 15px;
}
*/

.course-content ul.medschool_topics li.section .left,
.course-content ul.medschool_topics li.section .right {
    width: 20px;
    padding: 0 6px;
}

.course-content ul.medschool_topics li.section#section-0 .left {
    padding: 0;
}

.course-content ul.medschool_topics li.section#section-0 .left img {
    display: none;
}

/* > gets icons in heading, but we don't want the icons in edit menu */
.course-content ul.medschool_topics li.section .right > img.icon {
    padding: 0 0 4px 0;
}

/*
.course-content ul.medschool_topics li.section .left {
    padding-top: 22px;
    text-align: right;
}
*/

.jsenabled .course-content ul.medschool_topics li.section .left,
.jsenabled .course-content ul.medschool_topics li.section .right {
    width: auto;
}

.course-content ul.medschool_topics li.section .section-handle {
    margin: inherit;
    position: inherit;
    top: inherit;
    vertical-align: middle;
}

.course-content ul.medschool_topics li.section .left .section-handle img.icon {
    padding: 0;
    vertical-align: middle;
}

.course-content ul.medschool_topics img.spacer {
    display: block;
}

.course-content ul.medschool_topics li.section#section-0 .section_action_menu {
    background-color: #fff;
    opacity:0.9;
    filter: alpha(opacity=90);
}

.course-content ul.medschool_topics li.section .section_action_menu .textmenu,
.course-content ul.medschool_topics li.section .section_action_menu .menu-action-text {
    white-space: nowrap;
}

/* edit dropdowns size to fit their content. no idea where it's getting width from
   without this
*/
.course-content ul.medschool_topics li.section ul.menu {
    width: max-content;
    width: -moz-max-content;
}

/*icon-bar-solid styles*/

/*
	margin-right: -15px;
	margin-left: -15px;
*/
.medschool_topics #section-0 div.iconbar-solid {
    clear: both;
    background-color: #363636;
    overflow: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: -1px;
    padding-left: 15px;
    padding-right: 15px;
}

.medschool_topics #section-0 div.iconbar-solid a,
.medschool_topics #section-0 div.iconbar-solid button {
    color: white;
    background-color: #363636;
/*    float: left;  */
    text-align: center; 
    width: auto; 
    padding-top: 12px;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px;
    transition: all 0.3s ease;
    height: 100%;
    vertical-align: top;
    border: 0.5px solid #363636;
}

.medschool_topics #section-0 div.iconbar-solid a.sub-btn,
.medschool_topics #section-0 div.iconbar-solid button.sub-btn {
    padding-top: 7px;
    padding-bottom: 7px;
}
    
.medschool_topics #section-0 div.iconbar-solid a:hover,
.medschool_topics #section-0 div.iconbar-solid button:hover {
    color: white;
    background-color: #696969;
/*    background-color: #3FACE6; */
    transition: all 0.3s ease;
    border: 0.5px solid #999;
    text-decoration: none;
}

.medschool_topics #section-0 div.iconbar-solid a span,
.medschool_topics #section-0 div.iconbar-solid button span {
    display: block;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 5px;
    padding-left: 2px;
    padding-right: 2px;
}

.medschool_topics #section-0 div.iconbar-solid a span.btn-medtopics-sub-name,
.medschool_topics #section-0 div.iconbar-solid button span.btn-medtopics-sub-name {
    margin-top: 0;
}
    
.medschool_topics #section-0 div.iconbar-solid a span.btn-medtopics-sub-icon,
.medschool_topics #section-0 div.iconbar-solid button span.btn-medtopics-sub-icon {
    margin-top: 3px;
}
    
.medschool_topics #section-0 div.iconbar-solid a span[class^="fa"],
.medschool_topics #section-0 div.iconbar-solid button span[class^="fa"] {
    text-align: center;
}

.medschool_topics #section-0 div.iconbar-solid a span:not(:first-child),
.medschool_topics #section-0 div.iconbar-solid button span:not(:first-child) {
    min-width: 4em;	
    max-width: 7em;	
}

/*banner work*/

/*
    margin-top: -11px;
    margin-left: -21px;
    padding: 10px;
    padding-left: 20px;
*/
.medschool_topics #section-0 h3.sectionname {
    float: left;
    margin: 0;
    padding: 0;
    background: none;
    display: inline-block;
    line-height: normal;

margin: 0;
    padding: 10px;
     background-color: #fff;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.medschool_topics #section-0 div.summary {
    margin: 0;
    padding: 0;
}

/*
	margin-right: -15px;
	margin-left: -15px;
	margin-top: -10px;
*/
.medschool_topics #section-0 span.header-image {
    height: 120px;
    display: block;
}

.medschool_topics #section-0 span.no-header-image {
    display: block;
    margin-top: -35px;
    margin-right:-15px;
    margin-left: -35px;
    clear: both;
}

/*
 was :first-child
    margin-left: -16px;
    padding-left: 20px;
    padding-right: 20px;
*/
.medschool_topics #section-0 .sectionname a {
    background-color: #fff;
    opacity: 0.9;
    filter: alpha(opacity=90);
    margin: 0;
    padding: 10px;
    display: inline-block;
    float: left;
}

.medschool_topics div.no-overflow {
    overflow: initial !important;
}

.course-content ul.medschool_topics li.section#section-0 div.content h3.sectionname {
    max-width: 90%;
}

.course-content ul.medschool_topics li.section#section-0 div.content h3.sectionname a {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.course-content ul.medschool_topics li.section#section-0 div.content h3.sectionname .inplaceeditable a {
    max-width: 90%;
}


/*kj added styles*/
/* The dropdown container */
.medschool_topics .dropdown-btn {
  float: left;  
  overflow: hidden;
}

/* Dropdown button */
.medschool_topics .dropdown-btn .sub_btn{
  font-size: 14px !important; 
  border: none;
  outline: none;
  color: white;
  /*padding: 14px 16px;*/
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/*.dropdown-btn-content span{
font-size: 14px !important;   
}*/

/* Add a red background color to navbar links on hover 
.dropdown-btn:hover .sub_btn {
  background-color: red;
}*/

/* Dropdown content (hidden by default) */
.medschool_topics .dropdown-btn-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.medschool_topics .dropdown-btn-content a{
  float: none;
  color: inherit;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
  text-align: left;
  /*font-size: 14px !important; */
}

/* Add a grey background color to dropdown links on hover */
.medschool_topics .dropdown-btn-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.medschool_topics .dropdown-btn:hover .dropdown-btn-content {
  display: block;
}


.medschool_topics span.btn-medtopics-sub-icon{
display: block;
float:left;
font-size: 14px !important; 
}

.medschool_topics span.btn-medtopics-sub-name{
display: block;
text-align:left;
font-size: 14px !important; 
}

.medschool_topics span.dropdown-btn i{
    padding-left:5px;
}
