.gradingform_simplefeedbackrubric_editform .status {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 60%;
    padding: 0.25em;
    border: 1px solid #EEE;
}
.gradingform_simplefeedbackrubric_editform .status.ready {
    background-color: #e7f1c3;
    border-color: #AAEEAA;
}
.gradingform_simplefeedbackrubric_editform .status.draft {
    background-color: #f3f2aa;
    border-color: #EEEE22;
}
.gradingform_simplefeedbackrubric {
    overflow: auto;
    padding-bottom: 1.5em;
    position: relative;
}
.gradingform_simplefeedbackrubric.editor .criterion .controls,
.gradingform_simplefeedbackrubric .criterion .description,
.gradingform_simplefeedbackrubric .criterion .levels,
.gradingform_simplefeedbackrubric.editor .criterion .addlevel,
.gradingform_simplefeedbackrubric .criterion .levels .level {
    vertical-align: top;
}
.gradingform_simplefeedbackrubric.editor .criterion .controls,
.gradingform_simplefeedbackrubric .criterion .description,
.gradingform_simplefeedbackrubric.editor .criterion .addlevel,
.gradingform_simplefeedbackrubric .criterion .levels .level {
    padding: 3px;
}
.gradingform_simplefeedbackrubric .criteria {
    height: 100%;
    width: 100%;
}
.gradingform_simplefeedbackrubric .criterion {
    border: 1px solid #DDD;
    overflow: hidden;
}
.gradingform_simplefeedbackrubric .criterion.even {
    background: #F0F0F0;
}
.gradingform_simplefeedbackrubric .criterion .description {
    width: 150px;
    font-weight: bold;
}
.gradingform_simplefeedbackrubric .criterion .levels table {
    width: 100%;
    height: 100%;
}
.gradingform_simplefeedbackrubric .criterion .levels,
.gradingform_simplefeedbackrubric .criterion .levels table,
.gradingform_simplefeedbackrubric .criterion .levels table tbody {
    padding: 0;
    margin: 0;
}
.gradingform_simplefeedbackrubric .criterion .levels .level {
    border-left: 1px solid #DDD;
    max-width: 150px;
}
.gradingform_simplefeedbackrubric .criterion .levels .level .level-wrapper {
    position: relative;
}
.gradingform_simplefeedbackrubric .criterion .levels .level.last {
    border-right: 1px solid #DDD;
}
.gradingform_simplefeedbackrubric .plainvalue.empty {
    font-style: italic;
    color: #AAA;
}
.gradingform_simplefeedbackrubric.editor .criterion .levels .level .delete {
    position: absolute;
    right: 0;
}
.gradingform_simplefeedbackrubric .criterion .levels .level .sfrubric-spacer {
    margin-top: 5px;
    white-space: nowrap;
}
.gradingform_simplefeedbackrubric.editor .criterion.first .controls .moveup input,
.gradingform_simplefeedbackrubric.editor .criterion.last .controls .movedown input {
    display: none;
}
.gradingform_simplefeedbackrubric .criterion .levels .level.currentchecked {
    background: #fff0f0;
}
.gradingform_simplefeedbackrubric .criterion .levels .level.checked {
    background: #d0ffd0;
    border: 1px solid #555;
}
.gradingform_simplefeedbackrubric.evaluate .criterion .levels .level:hover {
    background: #30ff30;
}
.gradingform_simplefeedbackrubric.editor .delete input,
.gradingform_simplefeedbackrubric.editor .duplicate input,
.gradingform_simplefeedbackrubric.editor .moveup input,
.gradingform_simplefeedbackrubric.editor .movedown input {
    text-indent: -1000em;
    cursor: pointer;
    border: none;
}
.gradingform_simplefeedbackrubric.editor .criterion .controls .delete input {
    width: 12px;
    height: 12px;
    background: transparent url([[pix:t/delete]]) no-repeat center top;
    margin: .3em .3em 0 .3em;
}
.gradingform_simplefeedbackrubric.editor .criterion .controls .duplicate input {
    width: 12px;
    height: 12px;
    background: transparent url([[pix:t/copy]]) no-repeat center top;
    margin: .3em .3em 0 .3em;
}
.gradingform_simplefeedbackrubric.editor .levels .level .delete input {
    width: 12px;
    height: 16px;
    background: transparent url([[pix:t/delete]]) no-repeat center center;
}
.dir-rtl .gradingform_simplefeedbackrubric.editor .levels .level .delete input {
    margin-right: .45em;
    margin-left: 0;
}
.gradingform_simplefeedbackrubric.editor .moveup input {
    width: 12px;
    height: 12px;
    background: transparent url([[pix:t/up]]) no-repeat center top;
    margin: .3em .3em 0 .3em;
}
.gradingform_simplefeedbackrubric.editor .movedown input {
    width: 12px;
    height: 12px;
    background: transparent url([[pix:t/down]]) no-repeat center top;
    margin: .3em .3em 0 .3em;
}
.gradingform_simplefeedbackrubric.editor .addcriterion input,
.gradingform_simplefeedbackrubric.editor .addlevel input {
    background: transparent url([[pix:t/add]]) no-repeat top left;
    display: block;
    color: #555555;
    font-weight: bold;
    text-decoration: none;
}
.gradingform_simplefeedbackrubric.editor .addcriterion input {
    background-position: 5px 8px;
    height: 30px;
    line-height: 29px;
    margin-bottom: 14px;
    padding-left: 20px;
    padding-right: 10px;
}
.gradingform_simplefeedbackrubric.editor .addlevel input {
    background-position: 5px 5px;
    height: 25px;
    line-height: 24px;
    margin-bottom: 45px;
    padding-left: 18px;
    padding-right: 8px;
}
.gradingform_simplefeedbackrubric .options .optionsheading {
    font-weight: bold;
    font-size: 1.1em;
    padding-bottom: 5px;
}
.gradingform_simplefeedbackrubric .options .option {
    padding-bottom: 2px;
}
.gradingform_simplefeedbackrubric .options .option label {
    margin-left: 5px;
}
.gradingform_simplefeedbackrubric .options .option .value {
    margin-left: 5px;
    font-weight: bold;
}
.gradingform_simplefeedbackrubric .criterion .levels.error {
    border: 1px solid red;
}
.gradingform_simplefeedbackrubric .criterion .description.error,
.gradingform_simplefeedbackrubric .criterion .levels .level .definition.error,
.gradingform_simplefeedbackrubric .criterion .levels .level .score.error {
    background: #FFDDDD;
}
.gradingform_simplefeedbackrubric-regrade {
    padding: 10px;
    background: #FFDDDD;
    border: 1px solid #F00;
    margin-bottom: 10px;
}
.gradingform_simplefeedbackrubric-restored {
    padding: 10px;
    background: #FFFFDD;
    border: 1px solid #FF0;
    margin-bottom: 10px;
}
.gradingform_simplefeedbackrubric-error {
    color: red;
    font-weight: bold;
}
.gradingform_simplefeedbackrubric.editor .hiddenelement {
    display: none;
}
.gradingform_simplefeedbackrubric.editor .pseudotablink {
    background-color: transparent;
    border: 0 solid;
    height: 1px;
    width: 1px;
    color: transparent;
    padding: 0;
    margin: 0;
    position: relative;
    float: right;
}

#simplefeedbackrubric-simplefeedbackrubric.gradingform_simplefeedbackrubric .addcriterion input {
    background: transparent url([[pix:t/add]]) no-repeat scroll 7px 8px;
    border: 0 none;
    color: inherit;
    line-height: inherit;
    margin: 0;
    padding-left: 26px;
    text-shadow: inherit;
}

#simplefeedbackrubric-simplefeedbackrubric.gradingform_simplefeedbackrubric .addcriterion {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    background-repeat: repeat-x;
    border-color: #ccc #ccc #b3b3b3;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 1em;
    margin-left: 5px;
    padding: 0;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

#simplefeedbackrubric-simplefeedbackrubric.gradingform_simplefeedbackrubric #simplefeedbackrubric-criteria {
    margin-bottom: 1em;
}


#simplefeedbackrubric-simplefeedbackrubric.gradingform_simplefeedbackrubric #simplefeedbackrubric-criteria .criterion .addlevel {
    vertical-align: middle;
}

#simplefeedbackrubric-simplefeedbackrubric.gradingform_simplefeedbackrubric #simplefeedbackrubric-criteria .criterion .addlevel input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    background-position: 0 0;
    background-repeat: repeat-x;
    border-color: #ccc #ccc #b3b3b3;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 20px;
    margin-bottom: 0;
    margin-right: 5px;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

#simplefeedbackrubric-simplefeedbackrubric.gradingform_simplefeedbackrubric #simplefeedbackrubric-criteria .criterion .level .delete {
    clear: both;
    float: right;
    height: 32px;
    margin-top: -32px;
    position: relative;
    width: 32px;
}

#simplefeedbackrubric-simplefeedbackrubric.gradingform_simplefeedbackrubric #simplefeedbackrubric-criteria .criterion .level .delete input {
    bottom: 0;
    display: block;
    height: 24px;
    margin: 0;
    position: absolute;
    right: 0;
    width: 24px;
}

#simplefeedbackrubric-simplefeedbackrubric.gradingform_simplefeedbackrubric #simplefeedbackrubric-criteria .criterion .sfrubric-spacer {
    float: left;
    margin-right: 28px;
    position: relative;
}
